@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
body{
    font-family: 'Oleo Script', cursive; 
    text-align: center;
    background-color: darkgrey;
}
section{
    width: 500px;
    height: 500px;
    background-color: orange;
    border: 3px solid orangered;
    border-radius: 0px 0px 30px 30px ;
    margin-left: 500px;
}
div{
    background-color: coral;
    width: 500px;
    height: 80px;
    border: 3px solid yellow;
    border-radius: 30px 30px 0px 0px ;
    margin-left: 500px;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
a{
    text-decoration: none;
}
p{
    color: crimson;
    font-size: 18px;
    font-weight: bold;
}